version: "3"

networks:
  frontend:
  backend:

services:
#  php56:
#    build: './docker/php56/'
#    container_name: php56

#    networks:
#      - backend
#    volumes:
#      - ${HTML_VOLUME}:/var/www/html/

#  php70:
#    build: './docker/php70/'
#    container_name: php70

#    networks:
#      - backend
#    volumes:
#      - ${HTML_VOLUME}:/var/www/html/

  php73:
    build: './docker/php73/'
    container_name: php73

  php83:
    build: './docker/php83/'
    container_name: php83

    networks:
      - backend
    volumes:
      - ${HTML_VOLUME}:/var/www/html/

  mysql:
    image: mariadb:latest
    container_name: mariadb

#    depends_on:
#      - centos
    ports:
      - '3306:3306'
    networks:
      - backend
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
# Create database, tables, columns in PHP
#     - MYSQL_DATABASE=jeff_db

  apache:
    build: './docker/apache/'
    container_name: centos
    
    depends_on:
#      - php56
#      - php70
      - php73
      - php83
      - mysql
    ports:
      - "80:80"
      - "443:443"
    networks:
      - frontend
      - backend
    volumes:
      - ${HTML_VOLUME}:/var/www/html/
